/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  scroll-behavior: smooth;
  font-family: "Merriweather", serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
  background: #fff;
  box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.navbar__title {
  position: relative;
  font-size: 28px;
}
.navbar__title::before {
  content: "";
  width: 100%;
  height: 5px;
  background: #ede2cc;
  position: absolute;
  bottom: 5px;
  z-index: -1;
}
.navbar__list {
  display: flex;
  gap: 40px;
}
.navbar__link {
  display: block;
  font-size: 18px;
  text-decoration: none;
  color: #000000;
}
.navbar__link--active {
  color: #c9ab6d;
}
.navbar__link:hover {
  color: #c9ab6d;
}
.navbar__mobile {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  background: #fff;
  box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.1);
}
.navbar__mobile__item {
  padding-top: 40px;
}
.navbar__mobile__item:last-child {
  padding-bottom: 40px;
}
.navbar__icon {
  display: none;
  font-size: 35px;
}

.show {
  position: relative;
}
.show__img {
  max-height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  filter: grayscale(60%);
}
.show__text {
  position: absolute;
  bottom: 15%;
  left: 10%;
  max-width: 500px;
  color: #fff;
}
.show__text h2 {
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 10px;
}
.show__text p:first-child {
  margin-bottom: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 65%;
}
.main__item {
  width: 48%;
  margin-bottom: 35px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-out;
}
.main__item:nth-child(7) {
  width: 100%;
}
.main__item:hover {
  transform: translateY(-10px);
}
.main__item:hover .main__img {
  filter: none;
}
.main__link {
  text-decoration: none;
}
.main__img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(50%);
}
.main__text {
  padding: 20px 60px;
  text-align: center;
}
.main__text h2 {
  font-weight: 700;
  line-height: 25px;
  margin: 10px 0;
  color: #000000;
}
.main__text p:first-of-type {
  color: #c1b57c;
}
.main__text p:last-of-type {
  font-size: 12px;
  color: #d3d3d3;
  margin-bottom: 10px;
}

.side {
  width: 25%;
}
.side__item {
  margin-bottom: 50px;
}
.side__title {
  padding: 20px;
  text-align: center;
  border: 1px solid #d3d3d3;
  margin-bottom: 20px;
}
.side__card {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
}
.side__img {
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}
.side__text {
  padding: 25px 25px 15px 25px;
  text-align: center;
}
.side__text h2 {
  font-size: 18px;
  font-weight: 700;
}
.side__text p:first-of-type {
  font-size: 12px;
  font-style: italic;
  margin: 15px 0;
  color: #d3d3d3;
}
.side__text p:last-of-type {
  line-height: 25px;
}
.side__href {
  display: block;
  padding: 16px 0;
  text-align: center;
  text-decoration: none;
  border-top: 1px solid #d3d3d3;
  color: #e3d5b5;
}
.side__href:hover {
  color: #e3ac2a;
}
.side__featured {
  margin-bottom: 30px;
}
.side__social {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.side__social__item {
  width: 30%;
  margin-bottom: 10px;
  padding: 15px;
  background: #f7fafa;
}
.side__social__icon {
  font-size: 30px;
  padding: 15px 0;
  color: #e3d5b5;
  cursor: pointer;
}
.side__social__icon:hover {
  color: #e3ac2a;
}
.side__category__item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
}
.side__category__item:hover p {
  color: #e3ac2a;
}
.side__category__text {
  color: #666666;
}

.footer {
  margin-top: 100px;
  padding: 30px;
  text-align: center;
  border-top: 1px solid #b5b5b5;
}
.footer h2 {
  padding: 20px;
  font-size: 20px;
}
.footer p {
  line-height: 25px;
}

@media (max-width: 1199px) {
  .navbar {
    padding: 30px 50px;
  }
  .navbar__list {
    gap: 20px;
  }
  .container {
    max-width: 950px;
  }
  .main {
    width: 65%;
  }
  .main__img {
    height: 200px;
  }
  .side {
    width: 25%;
  }
  .side__text p:last-of-type {
    font-size: 12px;
  }
}
@media (max-width: 992px) {
  .container {
    flex-direction: column;
    width: 600px;
  }
  .main {
    width: 100%;
  }
  .side {
    width: 100%;
  }
  .side__img {
    height: 250px;
  }
  .side__social__item {
    width: 30%;
  }
}
@media (max-width: 767px) {
  .navbar__list {
    display: none;
  }
  .navbar__icon {
    display: block;
  }
  .container {
    max-width: 400px;
  }
  .show__text h2 {
    font-size: 1px;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 10px;
  }
  .show__text p:first-of-type {
    font-size: 12px;
  }
  .show__text P:last-of-type {
    font-size: 12px;
  }
  .main__item {
    width: 100%;
  }
  .main__img {
    height: 350px;
  }
}
@media (max-width: 577px) {
  .navbar {
    padding: 20px;
  }
  .show__text {
    display: none;
  }
  .container {
    max-width: 300px;
  }
  .main__img {
    height: 200px;
  }
}/*# sourceMappingURL=all.css.map */